
R/input/case.csv
R/input/data_research_assistant_data_assessment.pdf
R/input/demo.csv
R/input/grades.csv
Stata/data/case.csv
Stata/data/data_research_assistant_data_assessment.pdf
Stata/data/demo.csv
Stata/data/grades.csv
Stata/output/balance_test.tex
Stata/output/estimation.tex
Stata/output/prior_arrests.png
R/output/data_assessment_Xiling_Zhu.html
Stata/processed/case_demo_clean.dta
Stata/processed/demo_clean.dta
Stata/processed/early_adulthood.dta
Stata/processed/grades_clean.dta
Stata/src/ra_code_sample_stata.pdf
Stata/src/stata.sty
