
*.dta
*.csv
*.rds

*.log
.Rproj.user/9E18C7F8/pcs/files-pane.pper
.Rproj.user/9E18C7F8/pcs/source-pane.pper
.Rproj.user/9E18C7F8/pcs/windowlayoutstate.pper
.Rproj.user/9E18C7F8/pcs/workbench-pane.pper
.Rproj.user/9E18C7F8/rmd-outputs
.Rproj.user/9E18C7F8/saved_source_markers
.Rproj.user/9E18C7F8/sources/prop/02AA6499
.Rproj.user/9E18C7F8/sources/prop/0AC9BC8C
.Rproj.user/9E18C7F8/sources/prop/3BC94864
.Rproj.user/9E18C7F8/sources/prop/4FFF463E
.Rproj.user/9E18C7F8/sources/prop/5B9C7079
.Rproj.user/9E18C7F8/sources/prop/694922EF
.Rproj.user/9E18C7F8/sources/prop/923B4406
.Rproj.user/9E18C7F8/sources/prop/9D4BB2AF
.Rproj.user/9E18C7F8/sources/prop/9DDB5931
.Rproj.user/9E18C7F8/sources/prop/A3A1A365
.Rproj.user/9E18C7F8/sources/prop/ACF1DB70
.Rproj.user/9E18C7F8/sources/prop/AD8DDADA
.Rproj.user/9E18C7F8/sources/prop/D70C23D2
.Rproj.user/9E18C7F8/sources/prop/F8C57CB6
.Rproj.user/9E18C7F8/sources/prop/INDEX
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/9E18C7F88D2D0205/c4r2dfj3nquly/000003.html
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/9E18C7F88D2D0205/c4r2dfj3nquly/000003.metadata
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/9E18C7F88D2D0205/c8h22lpptjh6b/000005.html
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/9E18C7F88D2D0205/c8h22lpptjh6b/000005.metadata
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/9E18C7F88D2D0205/chunks.json
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/c5a4abg4fhkkd/000003.metadata
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/c5a4abg4fhkkd/000003.rdf
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/chunks.json
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/cjtugiquckx26/000003.metadata
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/cjtugiquckx26/000003.rdf
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/cjtugiquckx26/000005.metadata
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/cjtugiquckx26/000005.rdf
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/crj3773zplqrs/000003.error
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/cwek1zm61354y/000005.metadata
.Rproj.user/shared/notebooks/A08F36BC-ra_r_sample/1/s/cwek1zm61354y/000005.rdf
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths

stata/Untitled.grec
stata/prototype.do
stata_prototype/prototype.do
io_code_sample/car_data (1).zip
io_code_sample/data_description (1).txt
io_code_sample/market_data (1).zip
io_code_sample/data/car_data (1).zip
io_code_sample/data/data_description (1).txt
io_code_sample/data/market_data (1).zip
io_code_sample/output/writeup/s.aux
io_code_sample/output/writeup/s.out
io_code_sample/output/writeup/s.synctex.gz
*.aux
*.pdx
*.gz
*.smcl
io_code_sample/io_code_sample.do
*.out
shiny/app.R
shiny/clean_data.R
epic_datatask_answers.pdf
io_code_sample/data_task_instructions dube.pdf
